body{
    background-color:#e8e8e8;
}


.m_tbdr{
    border:2px dashed red;
}




header{
    min-height:81px;
    z-index:10000;
}
.m_ccp,.m_ccn{
    visibility: visible;
}

.m_mainslider:hover{
    cursor: pointer;
}
.m_ccp{
    left:20px;
}
.m_ccn{
    right: 20px;
}
.m_mainslider .m_ccp,.m_mainslider .m_ccn{
    background-color: rgba(0,0,0,0.8);
    width:30px;
    height: 30px;
    border-radius:30px;
}
.m_mainslider:hover .m_ccp,.m_mainslider:hover .m_ccn{
    visibility: visible;

}
.carousel-indicators button{
    width:6px !important;
    height: 6px !important;
}
.m_m11{
    height:120px;
}
.m_orange{
    background-color: #fe610c !important;
}
.m22{
    height:275px;
}
.m22{
   min-height:275px;
}
ul.m_m33_icon > li > a:hover{
    background-color: #fff;
}
ul.m_m33_icon > li > a > img{
    width: 65px;
    height: 65px;
}
ul.m_m33_icon > li > a:hover > img{
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.05);
}
.m_m44{
    height: 540px;
}
ul > li:hover{
    background-color: #EBEBEB;
    cursor: pointer;
    border-radius:5px;
}
.m_menu > li:hover ul{
    display: block;
}
.m_submenu{
    width: 100px;
    display: none;

}
main{
    
}
.mt-5.m_mt-5{
    margin-top: 5rem!important;
}


 
.m_city_input{
    background: #EEE;
}
.m_city_input2:focus{
    background-color: transparent;
}
.m_scrollTotTop{
     animation-name: stp;
     animation-duration: 1s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
     animation-direction:alternate ;
}
@keyframes stp {
    from{
        opacity: 0;
        transform: scale(0,0);
    }
    to{
        opacity: 1;
        transform: scale(1,1);
    }
}
.m_footer1{
    height: 112px;
}
.m_footer2{
    height: 1428px;
}
.m_footer3{
    height: 300px;
}
.m_footer4{
    height: 97px;
}
m_tnr{
    font-family:'Times New Roman', Times, serif;
}


::-webkit-input-placeholder {
    font-size: 25px;
    font-weight:bold;
 }
 
 :-moz-placeholder { /* Firefox 18- */
       font-size: 25px;
       font-weight:bold;
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
       font-size: 25px;
       font-weight:bold;
 }
 
 /* Overriding styles */
 
 ::-webkit-input-placeholder {
    font-size: 15px!important;
    font-weight:bold;
    color:#333 !important;
    opacity:0.5 !important;
 }
 
 :-moz-placeholder { /* Firefox 18- */
       font-size: 15px!important;
       font-weight:bold;
       color:#333 !important;
       opacity:0.5 !important;
 }
 ::-moz-placeholder {  /* Firefox 19+ */
       font-size: 15px!important;
       font-weight:bold;
       color:#333 !important;
       opacity:0.5 !important;
 }
 
@media screen  and (max-width: 576px) {
    .m_form_col{
        height:50px;
    }
    .m_mt-5{
        margin-top: 400px !important;
        padding-top: 70px;;

    }
    footer{
        position: fixed;
        bottom:-2px;
        left:0px;
        width: 100%;
    }
.m_tbdr{
    border: 1px solid white;
}
}
.m_search_form{
    position:fixed !important;
    top:15px;
    left:300px;
    z-index: 10000;
    background-color: #fff;
    transition: all linear 5s !important;
}
.m_animation{
    animation-name:myanimation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-direction: alternate;
}
.m_xyz > img{
    transform-origin: right bottom;
     transform: scale3d(1,1,1);
     transition: all linear 0.2s;
}
.m_xyz:hover > img{
    transform: scale3d(1.1,1.1,1);
}
.m_xyz  span{
    transform-origin: left  bottom;
     transform: scale3d(1,1,1);
     transition: all linear 0.2s;
}
.m_xyz:hover  span{
    transform: scale3d(1.1,1.1,1);
}

@keyframes myanimation {
    0%{
        transform: translateY(0px);
    }
    40%{
        transform: translateY(0px);
    }
    60%{
        transform: translateY(-42px)
    }
    100%{
        transform: translateY(-42px)  
    }
}

@media (min-width: 1400px){.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1896px;
}
}







